{% extends 'bases/base.html' %}
{% load static sass_tags %}


{% block content %}

    <link rel="stylesheet" href="{% sass_src 'styles/home.scss' %}">

    <div class="container d-flex flex-column justify-content-between gap-5">
        <div class="d-flex flex-wrap justify-content-center gap-5">
            {% for product in products %}

                {% include 'components/product/product.html' %}

            {% endfor %}
        </div>

        {% include 'components/pagination/pagination.html' %}
    </div>

    {% include 'components/modals/info_login_modal.html' %}

    <script src="{% static 'js/cart.js' %}"></script>

{% endblock %}