{% extends 'base.html' %}
{% load static sass_tags %}


{% block content %}

    <link rel="stylesheet" href="{% sass_src 'styles/home.scss' %}">

    <div class="container d-flex flex-wrap justify-content-center gap-5">
        {% for product in products %}

            <div class="card" style="width: 15rem;">
                <img src="{% static 'img/products/' %}{{product.photo}}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.price }} руб.</p>
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}