{% extends 'bases/base_modal.html' %}
{% load static %}


{% block style %}

    <link rel="stylesheet" href="{% static 'styles/reg-login.css' %}">

{% endblock %}

{% block modal_id %}regModal{% endblock %}

{% block modal_title %}
    Регистрация
{% endblock %}

{% block modal_body %}

    <div class="d-flex justify-content-center">
        <form class="d-flex flex-column">
            <div class="mb-3">
                <label for="usernameInput" class="col-sm-2 col-form-label">Логин</label>
                <input 
                    type="text"
                    class="form-control"
                    id="regUsernameInput"
                    placeholder="username"
                >
            </div>
            <div class="mb-3">
                <label for="emailInput" class="form-label">Почта</label>
                <input
                    type="email"
                    class="form-control"
                    id="regEmailInput"
                    placeholder="example@mail.ru"
                />
            </div>
            <div class="mb-3 password-block">
                <label for="passwordInput" class="form-label">Пароль</label>
                <input
                    type="password"
                    class="form-control"
                    id="regPasswordInput"
                    placeholder="password"
                />
                <img id="regToggleShowPass" class="toggle-show-pass" src="{% static 'img/eye-fill.svg' %}" alt="eye">
            </div>
        </form>
    </div>

{% endblock %}

{% block modal_footer %}

    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Отмена</button>
    <button id="btnSubmitCreateUser" type="submit" class="btn btn-primary">Создать</button>

{% endblock %}

{% block script %}

    <script src="{% static 'js/reg.js' %}"></script>

{% endblock %}