{% load static %}

<nav class="navbar bg-black" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center gap-2" href="{% url 'home' %}">
            <img class="logo-svg" src="{% static 'img/controller.svg' %}" alt="controller">
            <!-- <i class="bi bi-controller"></i> -->
            <span class="logo">ProGame</span>
        </a>
        <div class="d-flex gap-2">
            <a 
                class="btn-create-profile btn btn-outline-secondary"
                href="{% url 'reg' %}" 
            >
                Создать профиль
            </a>
            <a 
                class="btn btn-primary"
                href="{% url 'login' %}" 
            >
                Войти
            </a>
        </div>
    </div>
</nav>