{% load static %}

<nav class="navbar sticky-top bg-black mb-5">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center gap-2" href="{% url 'home' %}">
            <img class="logo-svg" src="{% static 'img/controller.svg' %}" alt="controller">
            <span class="logo">ProGame</span>
        </a>
        <div class="d-flex gap-2">
            <a href="{% url 'cart' %}" type="button" class="btn btn-outline-info position-relative mx-4">
                корзина
                <span id="userCartCount" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{ user_carts_count }}
                </span>
            </a>
            <a 
                class="btn btn-success"
                href="{% url 'profile' %}"
            >
                Личный кабинет
            </a>
            <button 
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#exitAccountModal"
            >
                Выйти
            </button>
        </div>
    </div>
</nav>

{% include 'components/modals/exit_modal.html' %}

<script src="{% static 'js/user-header.js' %}"></script>